<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctrine ORM Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
    <header>
        <a href="/">Yoga Blog</a>
        </br>

        {{#if user}}
            <div style="text-align: right;">
                Welcome {{user.username}}
            </div>
        {{else}}
            <div class="auth">
                <a href="#" id="loginToggle">Sign In</a>
                <a href="/users/register/">register</a>
            </div>
            <div class="auth hidden" id="loginForm">
                <label for="username" class="label">Username:</label>
                <input id="username" type="text" required class="input" />

                <label for="password" class="label">Password:</label>
                <input id="password" type="text" required class="input" />

                <button type="submit" class="submitButton">Sign In</button>
            </div>
        {{/if}}


       
    </header>
    {{#msg}}<div class="alert">{{.}}</div>{{/msg}}
    <main>
        {{{body}}}
    </main>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        const loginToggle = document.getElementById("loginToggle");
        const loginForm = document.getElementById("loginForm");

        if (loginToggle && loginForm) {
            loginToggle.addEventListener("click", function (event) {
                event.preventDefault();
                loginForm.classList.toggle("hidden");
            });
        }
    });
</script>


</html>