<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctrine ORM Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png">
</head>
<body>
    <header>
        <a href="/">Yoga Blog</a>
        </br>
        <div class="auth">
            <a href="/" >login</a>
            <a href="/">register</a>
        </div>
        <div class="auth">
            <label for="username" class="label">Username:</label>
            <input id="username" type="username" required class="input" />

            <label for="password" class="label">Password:</label>
            <input id="password" type="password" required class="input" />

            <button type="submit" class="submitButton">Sign In</button>
        </div>
    </header>
    {{#msg}}<div class="alert">{{.}}</div>{{/msg}}
    <main>
        {{{body}}}
    </main>
</body>
</html>